<div class="container">
  <h1>Movies list</h1>
  <ul>
    <% @lists.each do |list| %>
      <li><%= link_to list.name, list_path(list) %>
    <% end %>
  </ul>
   <%# <%= link_to "Add a Restaurant", new_restaurant_path %>
   <%# <%= link_to "Edit a Restaurants", edit_restaurant_path %>
</div>
